{% extends 'base.html' %}

{% load static %}

{% block page-title %}
    Home -
{% endblock %}

{% block content %}

    {% include 'partials/_table.html' %}

    {% include 'modals/message_modal.html' with modal_id="messageModal" %}

    {% include 'modals/add_modal.html' with modal_id="addModal" form_id="add-equipamento-form"%}
    {% include 'modals/detail_modal.html' with modal_id="detailModal" form_id="view-equipamento-form"%}
    {% include 'modals/edit_modal.html' with modal_id="editModal" form_id="edit-equipamento-form"%}

    {% include 'modals/delete_modal.html' with modal_id="deleteModal" form_id="delete-equipamento-form"%}
    
    <script src={% static 'js/form_actions.js' %}></script>
    <script src={% static 'js/equipamento.js' %}></script>
    <script src={% static 'js/modals.js' %}></script>
{% endblock %}

