<div class="modal fade" id="{{ modal_id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="{{ form_id }}">
                <div class="modal-header">
                    <h4 class="modal-title">
                        {% block modal-title%}
                        {% endblock %}
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="cleanForm('{{ modal_id }}')"></button>
                </div>
                <div class="modal-body">
                    {% block modal-body%}
                    {% endblock %}
                </div>
                <div class="modal-footer">
                    {% block modal-footer%}
                    {% endblock %}
                </div>
            </form>
        </div>
    </div>
</div>